:root {
	--color: #B1E4F9;
	--black: #0d0d0e;
	--white: #F0EFEC;


	/* ======FONTS====== */
	--body-copy: 1rem;
	--h1-copy: calc(var(--body-copy) * 5);
	--h2-copy: calc(var(--body-copy) * 1.5);
	--h3-copy: calc(var(--body-copy) *1);
	--font-body: "DM Sans", "helvetica", "san-serif";
	--font-heading: "Monsieur La Doulaise";


	/* ======SPACING====== */
	--gutter: calc(var(--body-copy) * 1.5);


	scroll-behavior: smooth;
}

body {
	font-family: var(--font-body);
	color: var(--white);
	background-color: var(--black);
	font-size: var(--body-copy);
}

h1 {
    padding-top: 5rem;
    font-family: var(--font-heading);
    font-size: var(--h1-copy);
	color: var(--white);
    text-align: center;
}



footer {
	text-align: center;
}
