:root {
	/* ======COLORS====== */
	--color: #B1E4F9;
	--black: #121212;
	--white: #F0EFEC;


	/* ======FONTS====== */
	--body-copy: 1.25rem;
	--small-copy: 1rem;
	--h1-copy: 50rem;
	--h2-copy: calc(var(--body-copy) * 1.5);
	--h3-copy: calc(var(--body-copy) *1);
	--font-body: "Syne", "helvetica", "san-serif";
	--font-heading: "Bokor";


	/* ======SPACING====== */
	--gutter: calc(var(--body-copy) * 1.5);
	--padding-1: 1rem;
	--padding-2: 2rem;

	/* ======SCROLL BEHAVIOUR====== */
	scroll-behavior: smooth;
}

header {
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	border-bottom: .1rem solid var(--black);

	#logo {
		fill: var(--black);
		width: auto;
		height: 2rem;
	}

	#channel-link {
		fill: var(--black);
		width: auto;
		height: 2rem;
	}
}


#navigation {
	border-bottom: .1rem solid var(--black);
	border-top: .1rem solid var(--black);
	padding: 1rem;
	margin-bottom: 2rem;

	position: sticky;
		position: sticky;
		top: 0;
		z-index: 1000;           /* bring it above main */
		background: var(--white); /* or whatever your page bg is */


	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

#navigation ::before {
	border-top: 1rem var(--black);

}

#navigation ::after {
	border-bottom: 1rem, var(--black);
}

body {
	font-family: var(--font-body);
	background-color: var(--white);
	color: var(--black);
	font-size: 1rem;

	a {
		text-decoration: underline;
		text-underline-offset: .25rem;
	}
}


hgroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 2rem;

	h1 {
		margin-top: 8rem;
		margin-bottom: 4rem;
		font-family: var(--font-heading);
		font-size: 5rem;
		letter-spacing: .02em;
		line-height: 1em;

		text-align: center;
		/* font-weight: bolder; */
		text-transform: uppercase;

		color: var(--black);
	}
}

.blocks {
	ul {
		display: grid;
		grid-template-columns: 1fr;
		/* mobile */
		gap: 2rem;
	}

	li {
		height: 80vh;
		overflow: hidden;
		/* margin-bottom: 4rem; */
		border-radius: 1rem;

		a {
			display: block;
			height: 100%;
		}
	}
}

.description {
	display: block;
	margin: auto;
	text-align: center;
	max-width: 60ch;

	margin-top: 5rem;
	margin-bottom: 8rem;

	padding-left: 1rem;
	padding-right: 1rem;

	h2 {
		font-family: var(--font-heading);
		font-size: var(--h2-copy);
		text-transform: uppercase;
		/* font-weight: bolder; */
		letter-spacing: .05em;
	}


	a:hover {
		text-decoration: underline;
		height: 100%;
	}

	.curate-tag {
		padding-top: 1rem;
	}
}


/* ============== MEDIA ============== */
.video-container {
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
	overflow: clip;
}

/* 😭😭😭😭😭😭 How do i make to so that the video fills the container and clips  */

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	display: block;

	filter: blur(4.2px) sepia(0%);
}

img:hover {
	filter: blur(0px) sepia(0%);
}

/* WANTED IMAGE TO FIT THE SHAPE WITHOUT DISTORITING REMEMBERED IMG LECTURE FROM TYPE & INTERACTION 1 */
/* SOURCED FROM https://typography-interaction-2526.github.io/topic/images/#object-fit-object-position */

.image-container { 
	--link-url: "/Users/zarahyaqub/Desktop/Parsons/Spring 2026/Type/SVG/Asset 3.svg";
} 

ul {
	.cover-video {
		color: red;
	}

	.cover-audio {
		color: blueviolet;
	}
}

/* =================================== */


footer {
	font-size: var(--small-copy);

	position: relative;
	margin: 1rem 1rem 2rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	/* Googled "mdn center align" */
	/* found align-items: center; */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/How_to/Layout_cookbook/Center_an_element  */
}

#dialog {
	margin: auto;
	padding: 2rem;

	width: min(720px, 90vw);
	height: 80vh;
	overflow: hidden;

	position: fixed;
	inset: 0;
	/* allows centering */

	background: white;
	border: none;
	border-radius: 1rem;

	display: grid;
	align-content: start;
	gap: 1.5rem;

	/* subtle scale-in instead of slide */
	transform: scale(.95);
	opacity: 0;
	transition:
		transform 0.35s cubic-bezier(.77, 0, .18, 1),
		opacity 0.35s ease;
}

/* When open */
#dialog[open] {
	transform: scale(1);
	opacity: 1;
}

/* backdrop */
#dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(6px);
}


/* ======MEDIA QUERIES====== */
/* TABLET: 2 per row */
@media (width > 768px) {
	body {
		font-size: 1.5rem;
	}

	.blocks {
		ul {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	hgroup {
		h1 {
			font-size: 10rem;
		}
	}

	footer {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

/* DESKTOP: 3 per row */
@media (width > 1200px) {
	body {
		font-size: 1.5rem;
		font-kerning: normal;
	}

	.blocks {
		ul {
			grid-template-columns: repeat(3, 1fr);
		}
	}


	hgroup {
		h1 {
			font-size: 18rem;
		}
	}

	footer {
		font-size: 1.5rem;
	}

	.about {
		h2 {
			font-size: 5rem;
		}
	}

	#navigation {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}